.title__block {
  color: $main-text-color;
  font-family: $main-text, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
}
@media (max-width: 1120px) {
.title__block {
  font-size: 30px;
}
}