.staff {
  padding: 149px 0 70px;
}
.container_staff {
  @include flex-row-fs;
}
.text__team {
  max-width: 635px;
}
.picture {
  height: 440px;
  max-width: 440px;
  position: relative;
}
.team {
  @include flex-col-fs-jcc;
  gap: 20px;
}
.baguette {
  height: 440px;
  max-width: 361px;
  object-fit: contain;
}
.hand {
  max-width: 269px;
  height: 397px;
  position: absolute;
  transform: translate(-120%, -17%);
}
.avatars {
  @include flex-row-fs;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
@media (max-width: 1120px) {
  .picture {
    height: 422px;
    max-width: 290px;
  }
  .container_staff {
    @include flex-col-aifs-jcsb;
  }
  .hand {
    transform: translate(16%, -129%);
    width: 308px;
    height: 454px;
  }
  .text__team {
    max-width: 690px;
    width: 100%;
    color: #2c2d35;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
  .baguette {
    height: 440px;
    max-width: 413px;
    height: 510px;
  }
}
