$main-text-color: #2C2D35;
$secondary-text-color: #598D66;
$third-text-color:#86928B;
$accent-color:#E1EDE6;
$main-text:'Raleway';
$focus-color: #D4E8D9;
$active-color: #376B44;
$focus-yellow-color: #FAEB97;